apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "data-product-hub.engine.fullname" . }}
  labels:
    app.kubernetes.io/name: {{ include "data-product-hub.name" . }}
    app.kubernetes.io/component: engine
spec:
  replicas: {{ .Values.engine.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "data-product-hub.name" . }}
      app.kubernetes.io/component: engine
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "data-product-hub.name" . }}
        app.kubernetes.io/component: engine
      annotations:
        data-product-hub/metadata-revision: "1.0"
    spec:
      imagePullSecrets:
        {{- toYaml .Values.imagePullSecrets | nindent 8 }}

      containers:
        - name: engine
          image: "{{ .Values.engine.image.repository }}:{{ .Values.engine.image.tag }}"
          imagePullPolicy: {{ .Values.engine.image.pullPolicy }}
          env:
            - name: DP_METADATA_PATH
              value: "/etc/data-product-hub/dataproducts.json"
            - name: DP_REPO_ROOT
              value: {{ .Values.engine.dataRoot | quote }}

            - name: AUTH_ENABLED
              value: {{ ternary "true" "false" .Values.engine.auth.enabled | quote }}
            - name: AUTH_JWKS_URL
              value: {{ .Values.engine.auth.jwksUrl | quote }}
            - name: AUTH_ISSUER
              value: {{ .Values.engine.auth.issuer | quote }}
            - name: AUTH_ALGORITHMS
              value: {{ join "," .Values.engine.auth.algorithms | quote }}

            {{- with .Values.engine.auth.audience }}
            - name: AUTH_AUDIENCE
              value: {{ . | quote }}
            {{- end }}

            {{- with .Values.engine.auth.appIdClaim }}
            - name: AUTH_APP_ID_CLAIM
              value: {{ . | quote }}
            {{- end }}


          volumeMounts:
            - name: metadata
              mountPath: /etc/data-product-hub
            {{- if .Values.engine.dataVolume.enabled }}
            - name: data-root
              mountPath: {{ .Values.engine.dataRoot | quote }}
            {{- end }}
          # resources etc...

      volumes:
        - name: metadata
          configMap:
            name: data-product-hub-metadata
            optional: true
        {{- if .Values.engine.dataVolume.enabled }}
        - name: data-root
          persistentVolumeClaim:
            {{- if .Values.engine.dataVolume.create }}
            claimName: {{ include "data-product-hub.engine.dataPvcName" . }}
            {{- else -}}
            claimName: {{ .Values.engine.dataVolume.existingClaim | quote }}
            {{- end }}
        {{- end }}
