apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "data-product-hub.engine.fullname" . }}
  labels:
    app.kubernetes.io/name: {{ include "data-product-hub.name" . }}
    app.kubernetes.io/component: engine
spec:
  replicas: {{ .Values.engine.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "data-product-hub.name" . }}
      app.kubernetes.io/component: engine
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "data-product-hub.name" . }}
        app.kubernetes.io/component: engine
    spec:
      imagePullSecrets:
        {{- toYaml .Values.imagePullSecrets | nindent 8 }}

      containers:
        - name: engine
          image: "{{ .Values.engine.image.repository }}:{{ .Values.engine.image.tag }}"
          imagePullPolicy: {{ .Values.engine.image.pullPolicy }}
          env:
            - name: DP_METADATA_PATH
              value: "/etc/data-product-hub/dataproducts.json"
            - name: DP_REPO_ROOT
              value: {{ .Values.engine.dataRoot | quote }}
          volumeMounts:
            - name: metadata
              mountPath: /etc/data-product-hub
            - name: data-root
              mountPath: {{ .Values.engine.dataRoot | quote }}
          # resources etc...

      volumes:
        - name: metadata
          configMap:
            name: data-product-hub-metadata
            optional: true
        - name: data-root
          persistentVolumeClaim:
            claimName: {{ .Values.engine.dataVolume.existingClaim }}
